*{
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}
html, body{
    height: 100%;
    display: grid;
    place-items: center;
}
.container{
    height: auto;
    width: 400px;
    background-color: rgb(51,51,51);
    border-radius: 8px;
    border: 2px solid grey;
    padding: 30px;
}
h1{
    display: flex;
    align-items: center;
    justify-self: center;
    background-color: rgb(51,51,51);
    margin: 20px;
}
.input-container{
    background-color: rgb(51,51,51);
    width: 100%;
    display: flex;
    justify-content: space-between;
}
input{
    background-color: rgb(24, 21, 18);
    color: white;
    height: 30px;
    width: 75%;
    border-radius: 5px;
    border-style: none;
    padding: 8px;
}
.input-container button{
    background-color: blue;
    color: white;
    height: auto;
    width: 20%;
    border-radius: 5px;
    border-style: none;
    padding: 8px;
    cursor: pointer;
}
ul{
    gap: 2px;
    background-color: rgb(51,51,51);
    justify-content: space-between;
}
li{
    background-color: rgb(24, 21, 18);
    list-style: none;
    margin-top: 10px;
    height: 30px;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
}
span{
    background-color: rgb(24, 21, 18);
}
li button{
    background-color: red;
    color: white;
    height: auto;
    width: 20%;
    border-radius: 5px;
    border-style: none;
    padding: 8px;
    cursor: pointer;
}